@charset "UTF-8";

	#camp_name{
	width : 800px;
	margin : auto;
	}

	.camp_info{
	width : 900px;
	display:flex;
	margin : auto;
	}
	.camp_info1 {
	margin : auto;
	}
	.info_intro, .sbrscl {
	width : 1100px;
	margin : auto;
	
	}
	
	.weather {
	margin : auto;
	width : 1500px;
	}
	
	.weather_day {
	
	display : flex;
	
	}
	.weather1,.weather2,.weather3,.weather4,.weather5,.weather6,.weather7  {
	margin : auto;
	align : center;
	}
	#map ,  .info_detail ,.review{
	width : 900px;
	margin : auto;
	}
	
	.search_keyword{ 
	width : 900px;
	height : 70px;
	margin : auto;
	
	text-align : center;
	}
	.search_detail{ 
	width : 1000px;
	margin : auto;
	text-align : center;
	}
	.search-disply{
	width : 800px;
	margin : auto;
	text-align : right;
	}
	#searchbar {
	width : 300px;
	height : 70px;
	}
	#searchbtn {
	width : 60px;
	height : 60px;
	vertical-align : bottom;
	}
	#searchbtn2 {
	width : 150px;
	height : 150px;
	vertical-align : bottom;
	}
	#dt_th {
	width : 70px;
	}
	#dt_td {
	width : 600px;
	}
	
	    .navbar {
        display: flex;
        margin: auto;
        padding: auto;
        height: 80px;
        text-align: center;
        vertical-align : bottom;
    }
    
    .navbtn {
        width: auto;
        margin: auto;
        padding: auto;
        display :flex;
        text-align: center;
        
    }
  
    a.navbtn{
    	
    	margin: auto;
    	text-align: center;
    	text-decoration-line : none;
    	color: black;
    }
    a.navbtn.h4{
    	width: 80px;
    	margin: auto;
    	text-align: center;
    }
    .logbtn {
        width: 150px;
        margin: auto;
        display : inline-block;
        
    }
    #loginbtn, #logoutbtn {
        width: 100px;
        height: 40px;
        vertical-align : bottom;
        text-align: center;
    }
    #logoutbtn.navbtn{
    	text-align: center;
    }
    
    #userid {
    	margin : auto;
    	text-align: right;
    	width: 60px;
    	
    }
    
    #cs_logo {
        width: 80px;
        height: 80px;
    }
    #userinfochk {
    	
    	margin:auto;
    	text-align: center;
    }
        .main_intro{
    	
    	margin :auto;
    	width : 1300px;
    	height : 800px;
    	position: relative;
    	
    }
    .main_intro::before{
    	content: "";
    	background : url("../resources/camp/images/bg_main.jpeg");	
    	background-repeat:no-repeat;
    	background-size:cover;
    	opacity : 0.6;
    	margin :auto;
    	position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
    	
    }
    .introbox{
    	position: relative;
    	padding: 20px;
        font-size: 50px;
        font-weight: bold;
        text-align: center;
        background-origin:content-box;
        background-color: #ffffff;
        background-color: rgba( 255, 255, 255, 0.5 );
       
    }
    #mainlogo {
    	opacity : 1;
    	margin: auto;
    	padding: 40px;
    	text-align: center;
    	position: relative;
    
    }
    #mainsearch {
    	opacity : 1;
    	margin: auto;
    	padding: 40px;
    	text-align: center;
    	position: relative;
    }
    