@charset "UTF-8";
	body {
		padding : 0;
		margin : 0;
	}
	
	
	.camp_rank  {
		display : flex;
		margin :auto;
		width : 100vw;
		
	}
	.goodcamp , .rcountcamp {
		display : flex;
		margin : auto;
		
		
		padding: 5px;
	}
	.rank_text {
		margin-top: 5px;
		
	
	}
	
	.rank_p {
		font-family:sans-serif;
		font-size: 22px;
    	font-weight: bold;
    	text-decoration : none;
    	color: black !important;
    	padding-right: 20px;
    	width : 140px;
	}
	
	.main_listinfo {
		width : 170px;
		height : 160px;
		margin : 2px;
		padding: 5px;
		text-align: center;
	}
	.sortbox {
		margin: auto;
		padding-left: 50px;
		display : flex;
	}
	.sortsection {
		margin-left: auto;
		width : 200px;
	}
	
	
	.listinfo {
		margin: auto;
		width:700px;
		padding: 30px;
	
	}
	.infocard {
		margin: auto;
		width:700px;
		display: flex;
		padding: 20px;
	}
	.infocard1{
		margin: auto;
		display:inline; 
		width: 400px;
		
    	
	}
	.camp_name {
		font-size: 30px !important;
    	font-weight: bold !important;
    	text-decoration : none !important;
    	color: blue !important;
    	padding: 30px;  
	}
	
	.infocard2 {
		margin: auto;
		padding : 20px;
		width: 300px;
		align-content: center; 
		font-size: 20px !important;
    	font-weight: bold !important;
    	text-decoration : none !important; 
    	color: black !important; 
    	text-decoration:  
    	
	}
	.viewcount , .goodcount{
		vertical-align : bottom;
		
	}
	
	.sbrscl  {
		width : 660px;
		margin : auto;
		padding: 20px;
		text-align: center;
	}
	#camp_name{
	width : 800px;
	margin : auto;
	}

	.camp_info{
	width : 900px;
	display:flex;
	margin : auto;
	}
	.camp_info1 {
	margin : auto;
	padding-left: 40px;
	
	}
	.info_intro{
	width : 900px;
	margin : auto;
	padding: 20px;
	
	}
	.info_detail {
	font-size: 15px !important;
    font-weight: bold;
    text-decoration : none;
	}
	#movie_h2 {
		margin: auto;
		padding-bottom: 10px;
		padding-top: 20px;
		padding-left: 200px;
	}
	.camp_mov {
		margin : auto;
		padding: 20px;
		display : flex;
		text-align: center;
		align-items: center;
		
	}
	
	.movie{
		width: 400px;
		padding: 10px;
		margin : auto;
		text-align: center;
		align-content: center;
	}
	.movie_thumb{
		padding: 10px;
		width: 200px;
		height: 180px;
		position: relative;
		margin: auto;
		
		
	}
	.playbtn {
		width: 50px;
		height: 50px;
		position: absolute;
		bottom: 30px;
		right: 20px;
	}
	.movie_title {
		text-align: center;
		font-size: 15px;
		font-weight: bold;
    	text-decoration : none;
    	text-overflow: ellipsis;
    	color: black;
	}
	
	.weather {
	margin : auto;
	width : 90%;
	}
	
	.weather_day {
	
	display : flex;
	
	}
	.weather1,.weather2,.weather3,.weather4,.weather5,.weather6,.weather7  {
	margin : auto;
	align : center;
	}
	#map ,  .info_detail ,.review{
	width : 900px;
	margin : auto;
	}
	
	.search_keyword{ 
	width : 900px;
	height : 70px;
	margin : auto;
	
	text-align : center;
	}
	.search_detail{ 
	width : 1000px;
	margin : auto;
	text-align : center;
	}
	.search-disply{
	width : 800px;
	margin : auto;
	padding : 20px;
	text-align : right;
	}
	#searchbar {
	width : 300px;
	height : 70px;
	}
	#searchbtn {
	width : 60px;
	height : 60px;
	vertical-align : bottom;
	}
	#searchbtn2 {
	width : 150px;
	height : 150px;
	vertical-align : bottom;
	}
	#dt_th {
	width : 70px;
	}
	#dt_td {
	width : 600px;
	}
	
	    .navbar {
        display: flex;
        margin: auto;
        padding-top : 20px;
        padding-bottom: 10px;
        height: 90px;
        text-align: center;
        vertical-align : bottom;
    }
    
    .navbtn {
        width: auto;
        margin: auto;
        padding: auto;
        display :flex;
        text-align: center;
        
    }
  
    a.navbtn{
    	
    	margin: auto;
    	text-align: center;
    	text-decoration-line : none;
    	color: black;
    }
    a.navbtn.h4{
    	width: 80px;
    	margin: auto;
    	text-align: center;
    }
    .logbtn {
        width: 150px;
        margin: auto;
        display : inline-block;
        
    }
    #loginbtn, #logoutbtn {
        width: 100px;
        height: 40px;
        vertical-align : bottom;
        text-align: center;
    }
    #logoutbtn.navbtn{
    	text-align: center;
    }
    
    #userid {
    	margin : auto;
    	text-align: right;
    	width: 60px;
    	
    }
    
    #cs_logo {
        width: 80px;
        height: 80px;
    }
    #mypage {
    	
    	margin:auto;
    	padding: 10px;
    	text-align: center;
    }
        .main_intro{
    	
    	margin :auto;
    	width : auto;
    	height: 90vh;
    	position: relative;
    	
    }
    .main_intro::before{
    	content: "";
    	background : url("../resources/camp/images/bg_main.jpeg");	
    	background-repeat:no-repeat;
    	background-size:cover;
    	opacity : 0.6;
    	margin :auto;
    	position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
    	
    }
    .introbox{
    	position: relative;
    	padding: 20px;
        font-size: 50px;
        font-weight: bold;
        text-align: center;
        background-origin:content-box;
        background-color: #ffffff;
        background-color: rgba( 255, 255, 255, 0.5 );
       
    }
    #mainlogo {
    	opacity : 1;
    	margin: auto;
    	padding: 40px;
    	text-align: center;
    	position: relative;
    
    }
    #mainsearch {
    	opacity : 1;
    	margin: auto;
    	padding: 40px;
    	text-align: center;
    	position: relative;
    }
    
    .usr_button {
    	padding-top: 20px;
    	margin-left : 0px;
    	
    	display: flex;
    	vertical-align : bottom;
    	
    }
    .info_btn {
    	width : 200px;
    	padding: 20px;
    	margin : auto;
    	font-weight: bold;
    	vertical-align : bottom;
    }
    #kwordList{
    	padding : 20px;
    	margin:auto;
    }
   
    
    .keyword , #kwordList > .mainkeyword{
	padding: 5px;
	margin: auto !important;
    font-size: 20px !important;
    font-weight: bold !important;
    text-decoration : none !important; 
    color: black !important; 
    background-color: silver !important; 
    background-size: 3px !important;  
	}
	
	
	.info_detail > .unknowninfo {
		font-size: 17px;
		font-weight: bold;
		color: gray;
		
		
	}
	.keyword_stats , .readcount_stats {
		margin: auto;
		display: flex;
		padding: 10px;
	}
	
	.stat_table {
		width : 500px;
		margin : auto;
	}
	
	.keyword_stats_all, .readcount_stats_all {
		margin: auto;
		padding: 10px;
		width:600px;
	}
	
	.keyword_stats_daily, .readcount_stats_daily {
		margin-right:50px;
		padding: 20px;
	}
	.admin_stats_hl {
		width : 200px;
		padding-left: 100px;
	}
	
	.th_head {
	background-color: silver;
	}
	
	.good_stats{
		margin-right: 600px;
		padding-top: 20px;
	}
	
	 .ad_navbar {
        display: flex;
        margin: auto;
    	padding-top : 10px;
        padding-bottom: 10px;
        height: 30px;
        text-align: center;
      	vertical-align:top;
        background-color: silver;
    }
    

    .ad_navbtn {
        width: auto;
        margin: 3px;
        padding: auto;
        display :flex;
        text-align: center;
        
    }
  
    a.ad_navbtn{
    	
    	margin: auto;
    	text-align: center;
    	text-decoration-line : none;
    	color: black;
    }
    .h3_adnav {
    	
    	margin-top: 3px;
    }
    
    .admincampdiv {
    	margin: auto;
		display: flex;
		padding: 10px;
    }
	
	.newcamp , .updatecamp ,.delcamp{
		margin-left : auto;
		margin-right : auto;
		padding: 10px;
		width:400px;
	
	}
	
	.del_Camp_table , .updateCamp_table, .newCamp_table {
		margin : auto;
		width : 350px;
	
	}
	
	
	
    