@charset "utf-8";
/************   reset *********************/
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
*, *:before, *:after {-webkit-box-sizing: inherit;-moz-box-sizing: inherit;box-sizing: inherit}
html {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;-ms-text-size-adjust:none; -webkit-text-size-adjust:none;height:100%}
body {height: 100%; font-family: 'Noto Sans KR', sans-serif; font-size: 14px; color: #454545;line-height: 1.5;background-color:#fff}
h1, h2, h3, h4, h5, h6 {font-weight:500}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd,
ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas,
details, embed, figure,  figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, hr {margin:0; padding:0;border:0}
img {border: 0; vertical-align: top}
ul li, ol li {list-style: none}
em, address {font-style:normal}
fieldset {border: 0}
table {border-collapse: collapse}
caption {overflow: hidden; width: 0; height: 0; font-size: 0}
img, fieldset, button {border: 0; padding: 0px}
input, select {vertical-align: middle}
legend {width: 0;height: 0;font-size: 0;position: absolute;overflow: hidden;} 
button {border: 0;cursor: pointer;background: none}
a {text-decoration: none; cursor: pointer;color: #666}
.hidden, legend, caption {line-height: 1px; font-size: 1px; position: absolute; left: -1000px; top: 0; overflow: hidden; text-indent: -30000px}
.clearfix:after {content: "";display: block;clear: both}
input[type="text"], input[type="submit"],input[type="password"], select, textarea {-webkit-appearance: none;-webkit-border-radius: 0}
[type=checkbox], [type=radio] {box-sizing: border-box;padding: 0;margin: 0}

/*대화창*/
#contents {margin: 0 auto;max-width: 1000px;border: 1px solid #253a67;padding: 3%}
.title01 {text-align: center;margin: 0 auto;max-width: 1000px;background-color: #253a67;color: #fff;padding: 10px 0;border: 1px solid #253a67}
.webtong_map {float: left;width: 40%}
.center_wrap {display:none;width: 60%}
.center_wrap.open {display: block;float: left;border: 1px solid #e4e4e4;padding: 4%;max-height: 400px;overflow-y: auto}
.center_wrap > h4 {font-size: 20px;margin-bottom: 15px}
.center_wrap > p {font-size: 16px;margin-bottom: 40px}
.center_wrap > a {background-color: #899bc1;color: #fff;padding: 8px 35px;font-size: 15px}


/*애니메이션*/
.center_wrap {animation:bottom_top 0.3s backwards}

@keyframes bottom_top {
	0% {-webkit-transform: translatey(50px);-ms-transform: translatey(50px);transform:translatey(50px); opacity:0;}
	100% {-webkit-transform: translatey(0);-ms-transform: translatey(0);transform:translatey(0); opacity:1}
}


@media screen and (max-width: 850px) {
	.webtong_map {float: none;width: 100%;text-align: center}
	.center_wrap.open {float: none;width: 100%}
}
